ul {
  padding: 0;
  list-style-type: none;
}

li {
  border: 1px solid;
  padding: 5px;
}

#scores {
  display: flex;
  flex-direction: row;
}

#display {
  margin: 5px;
  width: 50%;
}

#add-score {
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  font-weight: bold;
}
